.games{
  margin: 0;
  padding: 0;

  background-image: linear-gradient(
  to right bottom,
rgba($main-blue, 0.95),
rgba($secondary-blue, 0.95)),
   url(../images/games.jpg);

  background-size: cover;
  background-position: top;
  &-content{
    padding:2rem;

    &-list{
      //START GAME
      .game{
        border: none;
        height:12rem;

        text-align: center;
        padding: 1rem;
        transition: 0.25s;
        &::before{
          content: "";
          position: absolute;
          background-image: linear-gradient(
          to right bottom,
          rgba($main-blue, 0.25),
          rgba($secondary-blue, 0.1)
          ),
           url("../images/end_transmission.jpg");
          background-size: cover;
          background-position: center;
          background-clip: content-box;
          padding: inherit;
          height:100%;
          width: 100%;
          top:0;
          left:0;
          filter: grayscale(100%);
        }
        h3{
          filter: none;
          color: $main-red;
          transition: inherit;
          display: inline-block;
          font-weight: 300;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);

          &::after{
            transition: inherit;
            content:"";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $main-blue;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
          }
        }
        &:hover{
          &::before{
            filter:grayscale(0%);
            background-image: linear-gradient(
            to right bottom,
            rgba($main-blue, 0.65),
            rgba($secondary-blue, 0.45)
            ),
             url("../images/end_transmission.jpg");
          }
          h3{
            top:45%;
            left: 48%;
            &::after{
              transform: translate(-40%, -20%);
            }
          }
        }
      }//END GAME
    }
  }
}
h2{
    font-size:6rem;
    font-weight: 900;
  }
