.games{

  padding: 10%;

  background-image: linear-gradient(
  to right bottom,
rgba($main-blue, 0.95),
rgba($secondary-blue, 0.95)),
   url(../images/games.jpg);

  background-size: cover;
  background-position: top;

  h2{
    font-weight: 900;
  }
}
