*, *::before, *::after,
a, a:link, a:hover, a:visited{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html{
  background-color: $off-white;

  font-size: 10px;
}

body{
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;


  background-color: $main-blue;
  color: $main-red;

}

@media (min-width: $break-up-md) {
  body{
    margin: 3rem;

  }
}
