*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.nav, .nav-item, .nav-link{
  margin:0;
  padding: 0;
}

html{
  background-color: $off-white;

  font-size: 10px;
}

body{
  box-sizing: border-box;

  font-family: 'Montserrat', sans-serif;
  font-weight: 400;

  margin: 3vh;
  background-color: $main-blue;
  color: $main-red;

}

.header{
  height: 75vh;
  background-image: linear-gradient(
  to right bottom,
rgba($secondary-blue, 0.95),
rgba($tertiary-blue, 0.15)),
   url(../images/header.jpg);

  background-size: cover;
  background-position: top;
  position: relative;

  &-nav{
    padding-top: 10rem;
    font-weight: 300;
    &-item{
      margin-bottom: 1rem;

    }

    &-link{
      display: inline;
      padding:0.25rem;
      color:$main-red;
      border-bottom: 1px solid $main-red;
      font-size: 3rem;
      text-decoration: none;
      transition: 0.25s;


      &:hover{
        color: $main-blue;
        background-color: $main-red;

      }
    }
  }

  &-content{
    //position: absolute;
    padding-left:10%;
    // left: 20%;
    // transform: translate(-50%, -50%);
    text-align: left;
    display: block;
  }

  &-desc{
    display: block;
  }

  &-text{

    font-weight: 900;
    line-height: 0.8;

  }

  &-upper{
    display: block;
    font-size: 10rem;
    letter-spacing: -0.1rem;
  }

  &-lower{
    display: block;
    font-size:6.7rem;
    letter-spacing: -0.02rem;
  }
}

.link{
  &-games{
    letter-spacing: 3rem;

  }
  &-photo{
    letter-spacing: 0.25rem;
    margin-right: -0.25rem;
  }
}
