/* GLOBAL */
:root{
  --alt-black: #17171C;
  --alt-white: #F3F3EA;
  --my-favorite-color: #FF0567;
}

.alert-danger{
  margin: 0;
}


.parallax{
  height:auto;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.jumbotron{
  margin: 0em;
  width: 100%;
  padding: 12em 0em;
}

/* TEMPORARY */
#big-foot{
  background-image: url(aguars.jpg);
  margin: 100%;
}

/* HEADER SECTION */


#header{
  background-image: url(header-bg.jpg);
}


.row{
  width: 100%;
  margin: 0;
}

h1{
  font-size: 400%;
}

h1, h2{
  font-family: "eloquent-jf-small-caps-pro", serif;
  font-style: italic;
  color: var(--alt-white);
  background-color: var(--alt-black);
  text-align:center;
  overflow: visible;

  padding: 0.4em;
  margin: auto;
  margin-bottom: 0;
}

@media(min-width:992px){
  h1, h2{
    padding: 0.4em;
    width: 50%;
    margin: auto;
  }
}

/* NAV SECTION */
.nav{
  font-family: adso, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2em;
  background-color: var(--alt-black);
  color: var(--alt-white);
}

a{
  color: var(--alt-white);
}

a:hover{
  color: var(--my-favorite-color);
}

/* PROJECTS SECTION */
#projects{
  background-image: url(RITMoJ.jpg);
}

h3{
  font-family: "eloquent-jf-small-caps-pro", serif;
  font-style: italic;
  color: var(--alt-white);
}

.long-name{
  font-size: 130%;
}

.short-name{
  font-size: 190%;
}


.project:hover{
  filter: none;
}

.project{
  position: relative;
  filter: grayscale();
  padding:0;
}

.project-title{
  background-color: var(--alt-black);
  position: absolute;
  text-align: center;
  vertical-align: middle;

  transform: translate(-50%, -50%);
  margin-bottom: 0em;
  padding: 0.4em;
  top:50%;
  left:50%;
}
