body{
  font-family: 'IM Fell English', serif;
  background-color: #282929;
  color: #CDD5D9;
}

a{
  color: #ADC6D4;
  padding: 1em;
}

h1{
  font-size: 26pt;
  margin: 2em auto 1em auto;
  text-align: center;
}

hr{
  color: #ADC6D4;
  width: 50%;
}

footer{
  font-size: 12pt;
  text-align: center;
  margin: 3em auto;
}

.main-title{
  font-size: 32pt;
  text-align: center;
  margin: 3em auto 2em auto;
}

.subtitle{

  font-size: 16pt;
}

.title{
  font-size: 18pt;
}

.game{
  margin: 3em auto;
  width: 70%;
  height: 400px;
}

.desc{
  padding: 2em 0;
  width: 400px;
}

.links{
  padding: 2em 0;
}

.text-content{
  text-align: center;
  width: 50%;
  margin: 2em auto;
}

.nav{
  margin: 2em auto;
}

#nongon-shot{
  margin: auto;
  float: right;
}

#nongon-content{
  margin: auto;
  float: left;
}

#aguars-shot{
  margin: auto;
  float: left;
}

#aguars-content{
  margin: auto;
  float: right;
}
