header {

  background-size: cover;
  background-position: top;
  overflow: hidden;
  height:90vh;
  font-family: "Montserrat", sans-serif;
  
  .name {
    padding-bottom: 1rem;
    margin-left: -0.5rem;
    font-weight: 900;
    line-height: 0.8;

    & .first h1 {
      font-size: 10rem;
      letter-spacing: -0.1rem;

    }

    & .last h1 {
      font-size: 6.7rem;
      letter-spacing: -0.02rem;
    }
  }

  .description {
    position: relative;
    display: inline-block;
    padding: 1rem;
    font-weight: 300;
    font-size: 2rem;
    background-color: $color-background;
  }

  .g-nav {
    font-size: 3rem;

    &--link {
      padding-top: 1rem;
      display: block;


      a {
        box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
        text-transform: uppercase;

        transition: 0.25s;
        text-decoration: none;
        color: #ff2b58;
        border-bottom: 1px solid #ff2b58;

        &:hover {
          background-color: #ff2b58;
          color: #26222d;
          padding: 1rem;
        }
      }
    }
  }
}
